@page "/reports/byemployeemeetingtotaltime"
@using Telerik.FontIcons
@using Stats.Models

<PageTitle>All Employees in All Meetings</PageTitle>

<div class="pgtitle">
    <div class="pgtitlefont">By Employee Total Time for Meetings</div>
</div>

<div class="d-flex flex-row">
    <div class="dateholder">
        <label for="StartDatePicker">Start Date</label>
        <TelerikDatePicker T="DateTime" ValueChanged="@(StartDateChanged)" Size="md" Rounded="md" Format="MM/dd/yyyy" Id="StartDatePicker" Value="@StartDate" Min="@MinDate" Max="@MaxDate"></TelerikDatePicker>
    </div>

    <div>
        <label for="EndDatePicker">End Date</label>
        <TelerikDatePicker T="DateTime" ValueChanged="@(EndDateChanged)" Size="md" Rounded="md" Format="MM/dd/yyyy" Id="EndDatePicker" Value="@EndDate" Min="@MinDate" Max="@MaxDate"></TelerikDatePicker>
    </div>
   

</div>
<div class="d-flex flex-row filters">

    <div class="card card-body">

        <p><strong>Data Filters</strong></p>
        <TelerikButtonGroup SelectionMode="ButtonGroupSelectionMode.Multiple">
            <ButtonGroupToggleButton OnClick="GsbOnlyToggle" Size="md" Rounded="md" ThemeColor="@SelectedGsbBtnColor">GSB Employees</ButtonGroupToggleButton>
            <ButtonGroupToggleButton Size="md" Rounded="md" ThemeColor="@SelectedFiServBtnColor" OnClick="@FiServOnlyToggle">FiServ Employees</ButtonGroupToggleButton>
            <ButtonGroupToggleButton Size="md" Rounded="md" ThemeColor="@SelectedCatalystBtnColor" OnClick="@CatalystOnlyToggle">Catalyst Employees</ButtonGroupToggleButton>
            <ButtonGroupToggleButton Size="md" Rounded="md" OnClick="@RemovePhonesToggle" ThemeColor="@SelectedNoPhonesBtnColor">Phone Numbers</ButtonGroupToggleButton>
        </TelerikButtonGroup>


    </div>
</div>
<hr />

<div>
    <TelerikLoaderContainer Size="md" ThemeColor="Primary" Visible="@PageWait" LoaderType="LoaderType.InfiniteSpinner" LoaderPosition="LoaderPosition.Start" Text="Loading..."></TelerikLoaderContainer>

    <TelerikGrid  Data="@GridData" EnableLoaderContainer="true" Sortable="true" FilterMenuType="FilterMenuType.Menu" FilterMode="GridFilterMode.FilterMenu" Size="@ThemeConstants.Grid.Size.Small" Resizable="true"
                 Height="600px" Pageable="true" ScrollMode="GridScrollMode.Scrollable" PageSize="20" >
        <GridToolBarTemplate>
            <GridCommandButton Command="ExcelExport" Icon="@FontIcon.FileExcel">Export to Excel</GridCommandButton>
            <span class="k-toolbar-spacer"></span>
            <GridSearchBox />
        </GridToolBarTemplate>
        <GridExport>
            <GridExcelExport FileName="By_Employee_Total_Time_Meetings" AllPages="true" />
        </GridExport>
       
        <GridColumns>
            <GridColumn Field="@nameof(ByEmployeeTotalTimeInMeetingsDto.DisplayName)" Title="Name"></GridColumn>
            <GridColumn Field="@nameof(ByEmployeeTotalTimeInMeetingsDto.Email)" Title="Email"></GridColumn>
            <GridColumn Field="@nameof(ByEmployeeTotalTimeInMeetingsDto.EmployeeTotalTime)" Title="Total Time"></GridColumn>
        </GridColumns>
        <DetailTemplate>
            @{
                <EmployeeMeetings EmployeeEmail="@context.Email" DisplayName="@context.DisplayName" EndDate="@EndDate" StartDate="@StartDate" TotalEmployeeTime="@context.EmployeeTotalTime.GetValueOrDefault()" ></EmployeeMeetings>
            }
        </DetailTemplate>
    </TelerikGrid>
</div>